* {
    font-family: 'Koulen', cursive;
}

body{
    display: flex;
    margin: 0;
}

body > :first-child {
    width: max(30%, 600px);
    height: calc(100vh);
    background-image: url(sunset1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

body > :last-child {
    width: max(70%, 300px);
    height: 100vh;
    background-color: rgb(196, 196, 196);
}

input, label {
    display:block;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.account::after {
    content: ' Log in';
    color: rgb(15, 97, 15);
}

.logoHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    height: 14rem;
    width: 100%;
    background-color: rgb(0, 0, 0, .3);
}

.logoHolder > p {
    opacity: 1;
    color: black;
    font-size: 4rem;
    font-weight: 650;
    font-style: italic;
    letter-spacing: 0.7rem;
    
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightContainer > * {
    padding: 3rem;
}

.textHolder {
height: max(40%, 300px);
display: flex;
justify-content: end;
flex-direction: column;
}

.formHolder {
height: max(33%, 300px);
background-color: rgb(236, 236, 236);
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.buttonHolder {
height: max(37%, 300px);
}

img {
    height: 100%;
}

p {
    font-size: 2rem;
    margin: 0;
}

button {
    background-color: rgb(218, 106, 47);
    border-radius: .5rem;
    color: white;
    font-size: 1.5rem;
    padding: .4rem 3.5rem;
}

.formDiv {
    display: flex;
}

.formDiv > :first-child {
    margin-right: 4rem;
}

label,input{
    display:flex;
    flex-direction:column;
  }